@{
    ViewData["Title"] = "Erişim Engellendi";
}

<h2 class="text-danger">Bu sayfaya erişim yetkiniz yok.</h2>
<p>Lütfen hesabınızla giriş yaptığınızdan ve bu kaynağa erişim izniniz olduğundan emin olun.</p>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Ana Sayfaya Dön</a>
