:root[b-cb6di6jnmp] {
    --primary-color: #e65100; 
    --primary-hover: #bf360c;
    --accent-color: #ffcc80;  
    --text-light: #fff;
}

a[b-cb6di6jnmp] {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover[b-cb6di6jnmp] {
    color: var(--primary-hover);
}

.navbar[b-cb6di6jnmp] {
    background-color: var(--primary-color) !important;
}
.navbar .nav-link[b-cb6di6jnmp],
.navbar .navbar-brand[b-cb6di6jnmp] {
    color: var(--text-light) !important;
}
.navbar .nav-link:hover[b-cb6di6jnmp],
.navbar .navbar-brand:hover[b-cb6di6jnmp] {
    color: var(--accent-color) !important;
}

.btn-primary[b-cb6di6jnmp] {
    color: var(--text-light);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover[b-cb6di6jnmp] {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-outline-secondary[b-cb6di6jnmp] {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-secondary:hover[b-cb6di6jnmp] {
    color: var(--text-light);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.card-title[b-cb6di6jnmp] {
    color: var(--primary-color);
}

.footer[b-cb6di6jnmp] {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 0;
}

.footer a[b-cb6di6jnmp] {
    color: var(--accent-color);
}
.footer a:hover[b-cb6di6jnmp] {
    color: var(--text-light);
}
