@model EtkinlikYonetim.Models.EventFormViewModel

@{
    ViewData["Title"] = "Yeni Etkinlik Oluştur";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mt-2">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ImageFile">Etkinlik Görseli</label>
        <input asp-for="ImageFile" type="file" class="form-control" accept=".jpg,.jpeg,.png" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription" 
                class="form-control" 
                maxlength="512" 
                rows="2"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>


    <div class="form-group mt-2">
        <label asp-for="LongDescription"></label>
        <textarea asp-for="LongDescription" class="form-control" rows="4"></textarea>
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>

    <div class="form-check mt-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">İptal</a>
    </div>
</form>

<script src="https://cdn.tiny.cloud/1/6fmivrmko9hd6lfr08e8usxv096pjqcielt3za7upv2obuo8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea[name="LongDescription"]',
        menubar: false,
        plugins: 'lists link image code',
        toolbar: 'undo redo | bold italic underline | bullist numlist | link image | code',
        height: 300,
        entity_encoding: "raw"
    });
</script>



